*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #fff;
    height: 70vh;
    display: grid;
    place-items: center center;
    font-family: 'Poppins',sans-serif;
}
.title{
    font-size: large;
    font-weight: 900;
    text-align: center;
    color: #1c1b29;
}
.text{
    font-size: large;
    font-weight: 900;
    text-align: center;
    color: #1c1b29;
}
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(500px,1fr));
    padding: 70px;
    grid-gap: 40px;
    margin-bottom: 70px;
}
.card{
    background-color: #E4F5EC;
    border-radius: 20px;
    box-shadow: 0 0 50px rgba(0,0,0,0.38);
}
.container{
    position: relative;
    clip-path: polygon(0 0,100% 0, 100% 85%, 0 100%);
}
img{
    max-width: 100%;
    max-height: 100%;
    display: block;
    border-radius: 20px 20px 0 0;
}
.details>a {
    font-weight: 600;
    font-size: 18px;
    margin: 10px 0 15px 0;
    position: absolute;
    transform: translate(-50%,-50%);
    width: 200px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    background: linear-gradient(90deg, #03a9f4, #f441a4, #ffeb3b, #03a9f4);
    background-size: 400%;
    border-radius: 30px;
    z-index: 1; 
   }
   .details>a:hover {
    animation: animate 8s linear infinite;
   }
   @keyframes animate {
    0% {
     background-position: 0%;
    }
    100% {
     background-position: 400%;
    }
   }
   .details>a:before {
    content: '';
    position: absolute;
    top: -5px;
    bottom: -5px;
    right: -5px;
    left: -5px;
    z-index: -1;
    background: linear-gradient(90deg, #03a9f4, #f441a4, #ffeb3b, #03a9f4);
    background-size: 400%;
    border-radius: 40px;
    filter: blur(20px);
    opacity: 0;
    transition: 0.5s;
   }
   .details>a:hover:before {
    filter: blur(20px);
    opacity: 1;
    animation: animate 8s linear infinite;
   }
p{
    color: white;
}
.container:after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px 20px 0 0;
    opacity: 0.7;
}
.card1>.container:after{
    background-image: linear-gradient(
        135deg,
        #0100ec,
        #fb36f4
    );
}
.card2>.container:after{
    background-image: linear-gradient(
        135deg,
        #2bdce3,
        #42ffdb
    );
}
.card3>.container:after{
    background-image: linear-gradient(
        135deg,
        #ffab1d,
        #f8501c
    );
}
.details{
    padding: 20px 10px;
    text-align: center;
    font-size: large;
}
.details>h3{
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    margin: 10px 0 15px 0;
}
.details>p{
    color: #fff;
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
}